# Lab 3 - Video Game Reviews

In [1]:
import pandas as pd

## Import Data

In [2]:
df = pd.read_csv('imdb-videogames.csv')

In [3]:
df.head()

,Unnamed: 0,name,url,year,certificate,rating,votes,plot summary,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
0,0,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,2018.0,T,9.2,"20,759","When a new villain threatens New York City, Pe...",True,True,False,False,False,True,False,False,False
1,1,Red Dead Redemption II,https://www.imdb.com/title/tt6161168/?ref_=adv...,2018.0,M,9.7,"35,703",Amidst the decline of the Wild West at the tur...,True,True,False,True,False,False,False,False,False
2,2,Grand Theft Auto V,https://www.imdb.com/title/tt2103188/?ref_=adv...,2013.0,M,9.5,"59,986",Three very different criminals team up for a s...,True,False,False,True,False,False,False,False,False
3,3,God of War,https://www.imdb.com/title/tt5838588/?ref_=adv...,2018.0,M,9.6,"26,118","After wiping out the gods of Mount Olympus, Kr...",True,True,False,False,False,False,False,False,False
4,4,Uncharted 4: A Thief's End,https://www.imdb.com/title/tt3334704/?ref_=adv...,2016.0,T,9.5,"28,722",Thrown back into the dangerous underworld he'd...,True,True,False,False,False,False,False,False,False

In [4]:
df.shape

(20805, 17)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20805 entries, 0 to 20804
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    20805 non-null  int64
 1   name          20805 non-null  object
 2   url           20805 non-null  object
 3   year          20538 non-null  float64
 4   certificate   7905 non-null   object
 5   rating        11602 non-null  object
 6   votes         11602 non-null  object
 7   plot summary  20805 non-null  object
 8   Action        20805 non-null  bool
 9   Adventure     20805 non-null  bool
 10  Comedy        20805 non-null  bool
 11  Crime         20805 non-null  bool
 12  Family        20805 non-null  bool
 13  Fantasy       20805 non-null  bool
 14  Mystery       20805 non-null  bool
 15  Sci-Fi        20805 non-null  bool
 16  Thriller      20805 non-null  bool
dtypes: bool(9), float64(1), int64(1), object(6)
memory usage: 1.4+ MB

In [6]:
df.certificate.value_counts()

T            2474
E            2006
M            1820
E10+          814
Unrated       241
K-A           229
Not Rated     184
AO             32
GA             26
EC             25
CE             13
12              9
PG-13           7
MA-13           7
Approved        4
G               4
MA-17           3
PG              3
TV-MA           2
Passed          1
TV-14           1
Name: certificate, dtype: int64

## Questions

### 1. What is the average rating for Action games?

In [9]:
df.Action.mean()

0.5735159817351598

### 2. What is the average rating of games after 2010? What is the average rating of games before (and including) 2010?

In [25]:
between = [df.year >= 2010]

df[between].mean()

KeyError: "None of [Index([(True, True, True, True, True, True, True, True, True, True, True, True, True, False, True, True, True, False, True, True, True, True, True, True, True, True, False, False, True, True, False, True, True, True, True, True, True, True, True, True, False, False, True, True, True, True, True, True, True, True, True, True, True, False, True, True, True, True, True, True, False, False, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, False, True, True, True, False, True, True, True, True, True, True, True, False, False, True, True, True, True, False, ...)], dtype='object')] are in the [columns]"

### 3. What games include "Fallout" in their title?

In [ ]:
erickkk = df.name.str.contains(r'Fallout')

df[erickkk].name

29                                Fallout: New Vegas
37                                         Fallout 4
115                                        Fallout 3
207                                       Fallout 76
340        Fallout: A Post-Nuclear Role-Playing Game
437      Fallout 2: A Post-Nuclear Role-Playing Game
1062                           Fallout: The Frontier
1233           Fallout Tactics: Brotherhood of Steel
1872              Fallout: New Vegas - Honest Hearts
1964                            Fallout 4: New Vegas
2003                   Fallout: Brotherhood of Steel
2117            Fallout: New Vegas - Old World Blues
2170                       Fallout Legacy Collection
2362               Fallout: New Vegas - Simply Uncut
2472                           Fallout 4: Far Harbor
2549                 Fallout: New Vegas - Dead Money
2681                                  Fallout: Miami
2718                   Fallout 4: Fusion City Rising
2861                         Fallout: New California
3047              Fallout: New Vegas - Lonesome Road
3086                       Fallout 4: Heather Casdin
3127                        Fallout 3: Point Lookout
3141                 Fallout 3: Operation: Anchorage
3165                           Fallout 4: Nuka-World
3206                         Fallout 3: Broken Steel
3440                         Fallout 76: Steel Reign
3554                             Fallout 3: The Pitt
3615                      Fallout 3: Mothership Zeta
3719                          Fallout 76: Steel Dawn
3731              Fallout 76: Expeditions - The Pitt
4012                    Fallout 4: Capital Wasteland
4190                        Fallout 76: Wastelanders
5306                           Fallout 4: Automatron
8315                       Fallout 4 - Point Lookout
9821                               Fallout: Cascadia
10013                                      Fallout 4
10027                                      Fallout 3
10716                              Fallout 4: London
12535                  Fallout 4: Wasteland Workshop
13598                  Fallout 4: Vault-Tec Workshop
14919               Fallout 4: Contraptions Workshop
19373      Fallout: A Post-Nuclear Role-Playing Game
19425             Fallout New Vegas: Brave New World
19513                                Fallout Shelter
Name: name, dtype: object

### 4. What is the most common certificate for Sci-Fi games?

In [ ]:
df.name.str.contains(f'Call').

<bound method IndexOpsMixin.value_counts of 0        False
1        False
2        False
3        False
4        False
         ...
20800    False
20801    False
20802    False
20803    False
20804    False
Name: name, Length: 20805, dtype: bool>

### 5. What percent of Thiller games have M or AO certificate?

### 6. What is the mean and median rating for Family games? for Action games?

### 7. Which game from 2018 got the most votes?

### 8. What is the average rating for each genre (Action, Adventure, Comedy, Crime, Family, Fantasy, Mystery, Sci-Fi, and Thriller)?

### 9. Which year's games received the most votes?

### 10. What's the average number of votes for games that are not Action games?

### 11. What game are platformers?