# Lab 3 - Video Game Reviews

In [85]:
import pandas as pd

## Import Data

In [86]:
df = pd.read_csv('imdb-videogames.csv')

In [87]:
df.head()

,Unnamed: 0,name,url,year,certificate,rating,votes,plot summary,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
0,0,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,2018.0,T,9.2,"20,759","When a new villain threatens New York City, Pe...",True,True,False,False,False,True,False,False,False
1,1,Red Dead Redemption II,https://www.imdb.com/title/tt6161168/?ref_=adv...,2018.0,M,9.7,"35,703",Amidst the decline of the Wild West at the tur...,True,True,False,True,False,False,False,False,False
2,2,Grand Theft Auto V,https://www.imdb.com/title/tt2103188/?ref_=adv...,2013.0,M,9.5,"59,986",Three very different criminals team up for a s...,True,False,False,True,False,False,False,False,False
3,3,God of War,https://www.imdb.com/title/tt5838588/?ref_=adv...,2018.0,M,9.6,"26,118","After wiping out the gods of Mount Olympus, Kr...",True,True,False,False,False,False,False,False,False
4,4,Uncharted 4: A Thief's End,https://www.imdb.com/title/tt3334704/?ref_=adv...,2016.0,T,9.5,"28,722",Thrown back into the dangerous underworld he'd...,True,True,False,False,False,False,False,False,False

In [88]:
df.shape

(20805, 17)

In [89]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20805 entries, 0 to 20804
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    20805 non-null  int64
 1   name          20805 non-null  object
 2   url           20805 non-null  object
 3   year          20538 non-null  float64
 4   certificate   7905 non-null   object
 5   rating        11602 non-null  object
 6   votes         11602 non-null  object
 7   plot summary  20805 non-null  object
 8   Action        20805 non-null  bool
 9   Adventure     20805 non-null  bool
 10  Comedy        20805 non-null  bool
 11  Crime         20805 non-null  bool
 12  Family        20805 non-null  bool
 13  Fantasy       20805 non-null  bool
 14  Mystery       20805 non-null  bool
 15  Sci-Fi        20805 non-null  bool
 16  Thriller      20805 non-null  bool
dtypes: bool(9), float64(1), int64(1), object(6)
memory usage: 1.4+ MB

In [90]:
df.certificate.value_counts()

T            2474
E            2006
M            1820
E10+          814
Unrated       241
K-A           229
Not Rated     184
AO             32
GA             26
EC             25
CE             13
12              9
PG-13           7
MA-13           7
Approved        4
G               4
MA-17           3
PG              3
TV-MA           2
Passed          1
TV-14           1
Name: certificate, dtype: int64

Other Cleanin

In [99]:
# #drop duplicates
df.drop_duplicates(inplace=True)

##### Clean and Fix Ratings

In [100]:
df.rating.replace("*9.0", "9.0", inplace=True)
df.rating = pd.to_numeric( df.rating)
df.rating.mean()

7.047525862068924

#### Clean and Fix Votes

In [101]:
df['votes'] = df['votes'].str.replace(',','')
df.votes = pd.to_numeric(df.votes)

AttributeError: Can only use .str accessor with string values!

In [ ]:
df.to_csv("clean_videogames_csv")

## Questions

### 1. What is the average rating for Action games?

In [ ]:
action_rating = df[df.Action].rating.mean()
action_rating

7.068877867327932

### 2. What is the average rating of games after 2010? What is the average rating of games before (and including) 2010?

In [ ]:
after_ten = df[df.year > 2010]
after_ten_rating = after_ten.rating.mean()

before_ten = df[df.year <= 2010]
before_ten_rating = before_ten.rating.mean()

print(f"Average ratings in 2010 and before: {after_ten_rating}")
print(f"Average ratings after 2010: {before_ten_rating}")

Average ratings in 2010 and before: 7.119838056680145
Average ratings after 2010: 7.00639189189191

### 3. What games include "Fallout" in their title?

In [ ]:
fallout = df.name.str.contains(r'Fallout')

df[fallout].name

29                                Fallout: New Vegas
37                                         Fallout 4
115                                        Fallout 3
207                                       Fallout 76
340        Fallout: A Post-Nuclear Role-Playing Game
437      Fallout 2: A Post-Nuclear Role-Playing Game
1062                           Fallout: The Frontier
1233           Fallout Tactics: Brotherhood of Steel
1872              Fallout: New Vegas - Honest Hearts
1964                            Fallout 4: New Vegas
2003                   Fallout: Brotherhood of Steel
2117            Fallout: New Vegas - Old World Blues
2170                       Fallout Legacy Collection
2362               Fallout: New Vegas - Simply Uncut
2472                           Fallout 4: Far Harbor
2549                 Fallout: New Vegas - Dead Money
2681                                  Fallout: Miami
2718                   Fallout 4: Fusion City Rising
2861                         Fallout: New California
3047              Fallout: New Vegas - Lonesome Road
3086                       Fallout 4: Heather Casdin
3127                        Fallout 3: Point Lookout
3141                 Fallout 3: Operation: Anchorage
3165                           Fallout 4: Nuka-World
3206                         Fallout 3: Broken Steel
3440                         Fallout 76: Steel Reign
3554                             Fallout 3: The Pitt
3615                      Fallout 3: Mothership Zeta
3719                          Fallout 76: Steel Dawn
3731              Fallout 76: Expeditions - The Pitt
4012                    Fallout 4: Capital Wasteland
4190                        Fallout 76: Wastelanders
5306                           Fallout 4: Automatron
8315                       Fallout 4 - Point Lookout
9821                               Fallout: Cascadia
10013                                      Fallout 4
10027                                      Fallout 3
10716                              Fallout 4: London
12535                  Fallout 4: Wasteland Workshop
13598                  Fallout 4: Vault-Tec Workshop
14919               Fallout 4: Contraptions Workshop
19373      Fallout: A Post-Nuclear Role-Playing Game
19425             Fallout New Vegas: Brave New World
19513                                Fallout Shelter
Name: name, dtype: object

### 4. What is the most common certificate for Sci-Fi games?

In [102]:
certificate_count = sci_fi_max = df[df["Sci-Fi"]].certificate.value_counts()

display(certificate_count)

T            424
M            339
E            185
E10+          94
Unrated       46
K-A           41
Not Rated     29
GA             5
AO             5
MA-13          4
12             3
EC             3
MA-17          1
PG-13          1
G              1
Approved       1
Name: certificate, dtype: int64

### 5. What percent of Thiller games have M or AO certificate?

In [103]:
# mask = df.name.str.contains(f'A' | f'AO').
thriller_m_ao = df[ (df.Thriller==True) & (df.certificate=='M') | (df.certificate=='AO')]
print("Number of Thrillers with M or AO", len(thriller_m_ao))

thriller = df[ (df.Thriller==True)]
print( "Total Number of Thrillers" ,len(thriller))

len(thriller_m_ao) / (len(thriller))

Number of Thrillers with M or AO 200
Total Number of Thrillers 523

0.3824091778202677

### 6. What is the mean and median rating for Family games? for Action games?

In [104]:
family_mean = df[df.Family].rating.mean()
family_median = df[df.Family].rating.median()

action_mean = df[df.Action].rating.mean()
action_median = df[df.Action].rating.median()

print(f"The Mean For Family Games: {family_mean}")
print(f"The Median For Family Games: {family_median}")

print(f"The Mean For Action Games: {action_mean}")
print(f"The Median For Action Games: {action_median}")

The Mean For Family Games: 6.686450381679379
The Median For Family Games: 6.9
The Mean For Action Games: 7.068877867327932
The Median For Action Games: 7.2

### 7. Which game from 2018 got the most votes?

In [105]:
year_mask = df["year"] == 2018
max_year_votes = df[year_mask].votes.max()

df.loc[df['votes'] == max_year_votes]

,game_index,name,url,year,certificate,rating,votes,plot_summary,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci_Fi,Thriller
15915,15913,Red Dead Redemption II,https://www.imdb.com/title/tt6161168/?ref_=adv...,2018.0,M,9.7,35709.0,Amidst the decline of the Wild West at the tur...,True,True,False,True,False,False,False,False,False

### 8. What is the average rating for each genre (Action, Adventure, Comedy, Crime, Family, Fantasy, Mystery, Sci-Fi, and Thriller)?

In [107]:
thriller_avg = df[df.Thriller].rating.mean()
scifi_avg = df[ df["Sci-Fi"] ].rating.mean()

results_df = pd.DataFrame( {
        "Type": ["Thriller", "Sci-Fi"],
        "AverageRating": [thriller_avg, scifi_avg] }
        )

results_df

KeyError: 'Sci-Fi'

### 9. Which year's games received the most votes?

In [ ]:
pd.DataFrame(df.groupby('year')['votes'].sum().sort_values(ascending= False).head(5))

           votes
year
2013.0  675033.0
2011.0  590386.0
2018.0  416710.0
2009.0  408044.0
2007.0  391612.0

### 10. What's the average number of votes for games that are not Action games?

In [ ]:
df.groupby('Action').votes.mean()

Action
False    188.427157
True     824.919797
Name: votes, dtype: float64

### 11. What game are platformers?

#### Fun Fact:
#####  A Platform game, commonly referred to as a “platformer,” is a style of video game where the player makes a character move through an environment with a series of action-based moves, like running, jumping, or swinging from ropes.

In [ ]:
platform = df["plot summary"].str.contains(r'platformer')

df[platform].name

434         Sonic and the Fallen Star
838                     A Hat in Time
904                The Last Airbender
1085                  Treasure Planet
1813                         Predator
                     ...
18761    PPL: The Animated Adventures
19472                  Demolition Man
19474       Astro Bot: Rescue Mission
19627                            20XX
19723                   Creator Crate
Name: name, Length: 131, dtype: object

### 12. What is the most common certificate of games with ratings greater than 8.0 and votes greater than 1000?

In [ ]:
# greater_rating = df.rating > 8.0
# greater_votes = df.votes > 1000

# df.[df.rating > 8.0] | [df.votes > 1000]:
rating_vote = (df.votes > 1000) & (df.rating > 8.0)

df[rating_vote].certificate.value_counts()

M            363
T            180
E            102
E10+          51
K-A           13
AO             1
Unrated        1
Not Rated      1
Name: certificate, dtype: int64

### 13. For games with ratings greater than the 75th percentile for ratings and a number of votes greater than the 75th percentile for votes, what is the most common genre?

In [ ]:
rating_threshold = df.rating.quantile(0.75)
votes_threshold = df.votes.quantile(0.75)

genres = ["Action", "Adventure", "Sci-Fi", "Thriller"]

good_games = df[(df.rating > rating_threshold) & (df.votes > votes_threshold)]
# good_games.votes.median()

for genre in genres:
    print(genre, len(good_games[good_games[genre]==True] ))

# good_action_games = good_games[ good_games.Action==True]
# good_adventure_games = good_games[ good_games.Action==True]
# good_games.Action.value_counts()
# good_games.Action.value_counts()

Action 1102
Adventure 993
Sci-Fi 186
Thriller 55

### 14. What are the average ratings by year?

In [ ]:
pd.DataFrame(df.groupby("year").rating.mean())

          rating
year
1952.0  7.000000
1962.0  6.800000
1964.0       NaN
1969.0  6.950000
1970.0  4.300000
...          ...
2022.0  7.563063
2023.0       NaN
2024.0       NaN
2025.0       NaN
2027.0       NaN

[61 rows x 1 columns]

### 15. For each cerficate, what was the average rating and average number of votes?

In [ ]:
# pd.DataFrame(df.groupby('year')['votes'].sum().sort_values(ascending= False).head(5))

pd.DataFrame((df.groupby("certificate")['votes','rating'].mean()))

/var/folders/pg/6p7fw10j1155dz2t00ntst440000gn/T/ipykernel_837/680936234.py:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  pd.DataFrame((df.groupby("certificate")['votes','rating'].mean()))

                   votes    rating
certificate
12             31.375000  7.350000
AO            246.333333  6.493333
Approved       52.333333  6.900000
CE             12.600000  5.520000
E             332.329063  7.085637
E10+          520.265766  7.181231
EC             18.857143  6.142857
G              11.500000  5.600000
GA            165.105263  6.531579
K-A           349.324607  6.913089
M            2498.627557  7.515584
MA-13          83.200000  7.080000
MA-17         165.666667  6.000000
Not Rated     110.759124  6.703650
PG            106.333333  5.933333
PG-13         119.000000  6.628571
Passed         19.000000  4.700000
T             829.020862  7.295178
TV-14         127.000000  7.000000
TV-MA           8.000000  7.000000
Unrated       135.973333  6.478222